<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<sessionState timeout="30"/>
		<httpRuntime maxRequestLength="95096" executionTimeout="65"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IsvcKioskoCli" maxReceivedMessageSize="1265536"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://www.maecco.net/wcfnommaecco/svcKioskoCli.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsvcKioskoCli" contract="wcfKioskoCli.IsvcKioskoCli" name="BasicHttpBinding_IsvcKioskoCli"/>
		</client>
	</system.serviceModel>
</configuration>
